maventest/src/main/mule/maventest.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9ae1536d-45ab-4f55-90db-ac6ded7dd61b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="maventestFlow" doc:id="b8bd4ed0-9f0b-47a5-a315-dfba440f75b3" >
		<http:listener doc:name="Listener" doc:id="85a9041f-c4f7-46a2-9b7b-9eaeefed26d5" config-ref="HTTP_Listener_config" path="/maven" allowedMethods="POST"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="0d91a3c3-9615-4059-add4-401e70cb4fc6" />
	</flow>
</mule>
