src/main/mule/testmvn.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="41772de8-ba8c-480b-bae4-6222f988dfba" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="testmvnFlow" doc:id="c254529e-a77f-4414-8c1a-02b97f43913f" >
		<http:listener doc:name="Listener" doc:id="13d5d465-eb73-4e50-a7e1-31b7422b3141" config-ref="HTTP_Listener_config" path="/TEST" allowedMethods="POST"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="73aa30e1-2ec9-4251-9784-8311b3690448" />
	</flow>
</mule>
